model_config_list: {
  config: {
    name: "model_bert-en-uncased-l-12-h-768-a-12",               # The model name
    base_path: "http://172.18.32.21:9000/models/model_bert-en-uncased-l-12-h-768-a-12",  # Local server URL
    model_platform: "tensorflow"     # TensorFlow model platform
  }
}

